<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home page</title>
</head>
<body>
  <h1>The Home page <%= 4 + 5 %></h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti ullam iure, ex quos obcaecati vitae aliquid dolor ipsa nemo placeat, quia maiores veniam inventore quisquam beatae. Harum dolorum debitis tempora.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti ullam iure, ex quos obcaecati vitae aliquid dolor ipsa nemo placeat, quia maiores veniam inventore quisquam beatae. Harum dolorum debitis tempora.</p>
</body>
</html>